<!--The content below is only a placeholder and can be replaced.-->
<div class="card">
  <div class="col-sm-12"> 
      <h1 class="card-title">
        Bind it!
      </h1>
      <div class="list-group">
        <ol>
          <li>Create three new components: GameControl, Odd and Even</li>
          <li>The GameControl Component should have buttons to start and stop the game</li>
          <li>When starting the game, and event (holding a increment number) should get emitted each second (re = setInterval())
          </li>
          <li>The event should be listenable from outside the component</li>
          <li>When stopping the game, no more events should be emitted (ClearInterval(ref))</li>
          <li>A new Odd number component should be created for every odd number emitted, the same should happen for the Even
            Component (on even numbers)</li>
            <li>Simply output Odd - Number or Even - Number in the two components</li>
            <li>Style the element (eg paragraph) holding your output text differently both components.</li>
          </ol>          
        </div>        
      </div>
</div>
